body{
   background-color: #999999;
   color: #232323;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   

}

.container {
    
    background-color: #f9f9f9;
    height: 100vh;
    width: 80%;
    margin: auto;
}

.banner {
background-color: #7995d8;
height: 150px;
}

.menu {
    background-color: #dd4a68;
}


.corpo {
    background-color: burlywood;
    min-height: 350px;
    padding: 35px;

}

.rodape{
    background-color: #232323;
    color: #999999;
    height: 150px;
}

