html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

body {
    color: #232323;
    background-color: #eeeeee;
}

main {
    width: 80%;
    margin: 35px auto;
    padding: 0 45px;
    border-left: solid 1px #dddddd;
    border-right: solid 1px #dddddd;
    text-align: justify;
}

main img {
    width: 65%;
}

.container {
    /* determina que os elementos filho serão flexíveis */
    display: flex;
}

.container span,
ul span {
    font-weight: 700;
}

ul li {
    margin-bottom: 10px;
    /* tira os pontos da lista */
    list-style-type: none;
}

.item {
    height: 50px;
    width: 150px;
    text-align: center;
    padding: 15px 50px;
    background-color: #999999;
    border: solid 2px #232323;
}